<h1>Angular Material Project Example</h1>
<p>What you're going to watch here?</p>
<ul>
  <li>Material Components including loading animation</li>
  <li>Angular Module Structure</li>
  <li>Angular Routing</li>
  <li>Angular Services</li>
  <li>Angular HttpClient</li>
  <li>Angular Http Interceptor</li>
  <li>Communication to Web API in .NET Core 2.0</li>
  <ul>
    <li>CORS implementation</li>
    <li>Models validation</li>
    <li>SMTP implementation</li>
    <li>Data Annotations</li>
  </ul>
</ul>
